  .jumbotron{
    background-image: url(img/banjo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .jumbotron h1 , .jumbotron p{
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,1);
    }
  .jumbotron .container{
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
  }